asgiref==3.3.4
certifi==2020.12.5
common-cmplr-lib-rt==2021.2.0
common-cmplr-lic-rt==2021.2.0
cycler==0.10.0
decorator==4.4.2
Django==3.2.4
django-crispy-forms==1.11.2
dpcpp-cpp-rt==2021.2.0
easyocr==1.3.2
imageio==2.9.0
intel-openmp==2021.2.0
kiwisolver==1.3.1
matplotlib==3.4.2
mkl==2021.2.0
mkl-fft==1.3.0
mkl-random==1.2.2
mkl-service==2.4.0
networkx==2.5.1
numpy==1.20.3
opencl-rt==2021.2.0
opencv-python==4.5.2.52
Pillow==8.2.0
psycopg2==2.8.6
pyparsing==2.4.7
pytesseract==0.3.7
python-bidi==0.4.2
python-dateutil==2.8.1
pytz==2021.1
PyWavelets==1.1.1
PyYAML==5.4.1
scikit-image==0.18.1
scipy==1.6.3
six==1.16.0
sqlparse==0.4.1
tbb==2021.2.0
tifffile==2021.4.8
torch==1.8.1
torchvision==0.9.1
typing-extensions==3.10.0.0
wincertstore==0.2
