.game {
    width: 500px;
    height: 500px;
}

.table{
    border: 5px solid #cde3f7;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    border-spacing: 0px;
    margin: 0px;
    padding:0;
}

tbody{
    display: table-row-group;
}

tr{
    display: table-row;

}

td{
    width: 60px;
    height: 60px;
    overflow: hidden;
    vertical-align: inherit;
    display: table-cell;
    text-align: center;

}

input{
    width: 100%;
    border: none;
    display: block;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
}

input:focus{
    outline:none;
}


td:nth-child(3n) {
  border-right: 3px solid #d4e9fd;
}

tr:nth-child(3n){
  border-bottom: 3px solid #d4e9fd;
}

.highlight{
    background: rgba(215,150,0,0.15);
}

.btn {
    width: 50px;
    height: 50px;
    border: 3px solid #d4e9fd;
    border-radius: 0;
}

.btn:hover {
    background-color: #d4e9fd;

}

.d-flex{
    justify-content: center;
}

.board{
    justify-content: center;
}

@media screen and (max-width: 800px) {
  .d-flex {
      display: block;
      flex-direction: row;
      float: none;
      margin-top: 5px;
  }
}
